.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais
.venv/
venv/
ENV/

# Arquivos de Configuração / Segredos
.env

# Arquivos gerados pelo pip
*.egg-info/
build/

# Informações locais de cobertura
.coverage
coverage.xml
.cli-code-test-evolution-reports/
.validation/

# Cache pytest
.pytest_cache/

# Arquivos de saída
*.html
*.json